<h1>You are currently inside the molecule-home !</h1>

<p>User state : {{ isLogged ? 'connected' : 'not connected' }}</p>

<div *ngIf="isLogged">
  <p>The current user has this roles: {{ user?.roles }}</p>

  <div *ngIf="'create' | able: 'User'">He is able to create a User</div>
  <div *ngIf="'read' | able: 'User'">He is able to read a User</div>
  <div *ngIf="'update' | able: 'User'">He is able to update a User</div>
  <div *ngIf="'search' | able: 'User'">He is able to search a User</div>
  <div *ngIf="'delete' | able: 'User'">He is able to delete a User</div>
  <div *ngIf="'all' | able: 'User'">He is able to all a User</div>
  <div *ngIf="'test' | able: 'User'">He is able to test a User</div>

  <button (click)="sessionService.logout()">logout</button>
</div>
