<div class="text-center">
  <h1>Welcome to Cali POC!</h1>
</div>
<div>
  <h2>Cameras</h2>
  <ul *ngIf="cameras$ | async as cameras" class="flex justify-between">
    <li *ngFor="let camera of cameras">
      <div>camera: {{ camera.id }}</div>
      <div>status {{ camera.status }}</div>
    </li>
  </ul>
  <h2>Alerts</h2>
  <ul *ngIf="alerts$ | async as alerts">
    <li *ngFor="let alert of alerts">
      <div>camera: {{ alert.camera }}</div>
      <div>type: {{ alert.type }}</div>
      <div>time: {{ alert.time }}</div>
    </li>
  </ul>
</div>
