<nz-layout class="layout">
  <nz-sider>
    <div class="logo">
      <a [routerLink]="['/']"> cali </a>
    </div>
    <div class="menu-main">
      <cali-menu-main></cali-menu-main>
    </div>
  </nz-sider>
  <nz-layout class="layout-right">
    <nz-header *ngIf="page$ | async as page">
      <cali-title-page [title]="page.title"></cali-title-page>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
