<!-- This example requires Tailwind CSS v2.0+ -->
<nav class="bg-neutral-900">
  <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
    <div class="relative flex items-center justify-between h-auto py-2 lg:py-4">
      <div
        class="flex-1 flex items-center justify-center sm:items-stretch sm:justify-start"
      >
        <div class="flex-shrink-0 flex items-center">
          <h1 class="text-white text-3xl uppercase m-0 tracking-widest mr-12">
            Traxion
          </h1>
        </div>
        <div class="sm:block sm:ml-6">
          <div class="flex space-x-4">
            <a
              href="#"
              class="bg-neutral-800 text-white px-3 py-2 rounded text-sm font-medium hover:text-gray-200 hover:bg-neutral-700 transition-colors"
              aria-current="page"
              >Demo</a
            >
          </div>
        </div>
        <div class="ml-3 relative flex flex-1 items-center justify-end">
          <stack-login-form-ui
            (loginEvent)="login($event)"
          ></stack-login-form-ui>
        </div>
      </div>
    </div>
  </div>
</nav>
<stack-login-form></stack-login-form>
