###########################
##      Stack tests      ##
###########################
name: Test

# Start the job on all pull request
on:
  pull_request:

env:
  NX_BRANCH: ${{ github.event.number || github.ref }}
  NX_RUN_GROUP: ${{ github.run_id }}

jobs:
  test:
    # Our code will run on node 16 and Linux
    strategy:
      matrix:
        node: [16.x]
        os: [ubuntu-20.04]

    name: Test npm packages on node ${{ matrix.node }}

    # Runs on Tractr self serveur
    runs-on: ['${{ matrix.os }}']

    steps:
      # First we checkout the code
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
          persist-credentials: false

      # We initialize the node action
      - name: Use node.js ${{ matrix.node }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node }}
          cache: 'npm'
          registry-url: https://npm.pkg.github.com

      # We install our dependencies
      - name: Run npm install
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: npm ci --no-audit --no-progress

      # We install our dependencies
      - name: Run npm generate
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: npm run generate

      # We only run the affected lint
      - name: Run Affected Build
        shell: bash
        run: npm run affected:build -- --base=remotes/origin/main --with-deps

      # We only run the affected lint
      # FIXME: why prettier exit code 1 without any errors
      # - name: Run Affected Format check
      #   shell: bash
      #   run: npm run affected:format:check -- --base=remotes/origin/main

      # We only run the affected lint
      - name: Run Affected Lint
        shell: bash
        run: npm run affected:lint -- --base=remotes/origin/main

      # We only run the affected test
      - name: Run Affected Tests
        shell: bash
        run: npm run affected:test -- --base=remotes/origin/main
