name: Test

on:
  pull_request:

jobs:
  test:
    name: test on node 15.x and ubuntu-latest
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Use node.js 15.x
        uses: actions/setup-node@v1
        with:
          node-version: 15.x
          registry-url: https://npm.pkg.github.com
      - uses: actions/cache@v2
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('package-lock.json') }}
      - name: Run npm install
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: yarn --frozen-lock --prefer-offline --no-audit --no-progress
      - name: Run npm build
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: npm run build
      - name: test
        run: npm run test
